{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:react-hooks/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "import/no-anonymous-default-export": 0,
    "react/jsx-filename-extension": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "no-use-before-define": 0,
    "react-hooks/rules-of-hooks": 0,
    "no-shadow": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
